editor-width = 800px
editor-header-width = editor-width - 40

#editor-container
  position relative
  display flex
  width editor-width
  min-width editor-width
  background #fff
  margin 0 6px
  box-shadow 0.4em 0.4em 0.4em #644b2b

  #editor-area
    display block
    overflow auto
    border none
    width editor-width
    box-sizing border-box

  #editor-header, #editor-footer
    position absolute
    left 20px
    z-index 1
    height 40px
    text-align center
    padding 6px
    background-color white
    width editor-header-width

  #editor-header
    top 0

  #editor-footer
    bottom 0

  #loaded-document
    background #fff
    font-family 'Roboto Slab', 'Georgia', 'Times New Roman', serif

    text-rendering optimizeLegibility
    font-kerning normal

    // NOTE: currently these only do anything in Chrome.
    font-feature-settings kern
    -webkit-font-feature-settings "kern" 1
    -moz-font-feature-settings "kern"

    overflow-x visible
    width 600px
    font-size 18px
    line-height 30px
    padding 6em 1.5em 6em 1.5em
    margin 0 auto
    box-sizing border-box

    p
      text-indent 36px
      margin 0
