@require "mixins/page-text"

editor-width = 800px
editor-header-width = editor-width - 40

#editor-container
  position relative
  display flex
  width editor-width px
  min-width editor-width px
  background #fff
  box-shadow 0.4em 0.4em 0.4em #644b2b

  #editor-area
    display block
    overflow auto
    border none
    width editor-width px
    box-sizing border-box

  #editor-header, #editor-footer
    position absolute
    left 20px
    z-index 1
    height 40px
    text-align center
    padding 6px
    background-color white
    width editor-header-width

  #editor-header
    top 0

  #editor-footer
    bottom 0

  #loaded-document
    background #fff

    width 600px
    padding 6em 1.5em 6em 1.5em
    margin 0 auto
    box-sizing border-box

    page-text()
