#left-sidebar-container
  position relative
  flex-grow 1

  width 100%
  overflow auto
  box-sizing border-box

  color #644b2b

  #left-sidebar-header
    width 100%
    display flex
    justify-content center
    box-sizing border-box

  .left-sidebar-header-control
    font-size 32px
    flex-grow 1
    text-align center

  #outline
    box-sizing border-box

    li
      padding 0.5em
      font-size 1.5em
      min-height 1em
      margin 0
      cursor default
      text-align center
      list-style-position inside
      list-style-type none
