@require "mixins/page-text"

right-sidebar-header-height = 50

#right-sidebar-container
  position relative
  flex-grow 1

  width 100%
  overflow auto
  box-sizing border-box

  color #644b2b

  #right-sidebar-header
    position absolute
    top 0
    left 0
    width 100%
    box-sizing border-box
    height right-sidebar-header-height px

  #notes
    padding 20px
    padding-top right-sidebar-header-height px
    box-sizing border-box

    page-text()

    font-size 16px
    line-height 1.62em
