.sidebar
  .sidebar-header
    width 100%
    display flex
    justify-content center
    box-sizing border-box
    padding 0 18px
    color #644b2b

  .sidebar-header-control
    font-family 'UnifrakturCook', cursive
    font-size 32px
    flex-grow 1
    text-align center

  .sidebar-header-control:first-child
    text-align left

  .sidebar-header-control:last-child
    text-align right
